# Gradle
.gradle/
build/
**/build/

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log

# IDE - IntelliJ IDEA
.idea/
*.iml
out/

# IDE - Eclipse
.project
.classpath
.settings/

# IDE - VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
